.header {
  /* background: linear-gradient(170deg, #d08159, #ffd4a3) 0 0 /100% 100% repeat; */
  
  background-color: rgba(157, 164, 170, 0.737);
  background-image:
    linear-gradient(rgba(255,255,255,.5) 2px, transparent 2px),
    linear-gradient(90deg, rgba(255,255,255,.5) 2px, transparent 2px),
    linear-gradient(rgba(255,255,255,.28) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,.28) 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;

  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80vw;
  height: 95vh;
  box-shadow: 0 4px 16px 0 #00000033;
  justify-content: center;
  position: relative;
  flex-wrap: nowrap;
  transition-property: all;
  transition-duration: 0.6s;
  align-content: stretch;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.6s;
  border-radius: 0 0 6px 6px;
  padding: 0;
  margin: 0 auto;
  font-family: "Press Start 2P", serif;
  font-weight: 400;
  font-style: normal;
}

.header li {
  width: auto;
  height: auto;
  max-width: 100%;
  position: relative;
  max-height: 57px;
  justify-content: center;
  display: inline-flex;
  flex-direction: row;
  transition-property: color;
  transition-duration: 1s;
  align-items: center;
  margin-right: 0;
  background: #ffffff00;
  -webkit-transition-property: color;
  -webkit-transition-duration: 1s;
  padding: 15px;
  border-width: 0;
  border-style: none;
}

.header a {
  font-weight: 400;
  text-align: center;
  color: #fff0d0;
  font-size: 26px;
}

.header a:hover {
  font-size: 38px;
  color: #ffdd8b;
  box-shadow: 0 4px 16px 0 #0000004d;
}

